<p style="color: green"><%= notice %></p>

<% content_for :title, "歌詞一覧" %>

<h1 class="text-2xl font-bold mb-4">過去に検索された歌詞</h1>

<p>
  技術検証用にミニアプリを開発しました！<br>
  曲名とアーティスト名から歌詞を検索・閲覧できるアプリです。
</p>
<br>
<p>
  ※歌詞を検索すると外部APIへのリクエストがブロックされ、エラーになります。
</p>
<p>
  対応するには月単位でコストがかかるため、本アプリでは対応しないことにしました。
</p>
<p>
  原因はPaaSを利用していることから、外部APIへのリクエスト時のIPアドレスが動的になる点と予想しています。<br>
  ローカル環境ではリクエストが成功し歌詞が取得できています。
</p>
<br>
<p>
  GitHubは公開してるので、ご興味あれば。
</p>